# Configuration email pour test
SMTP_HOST=mail.heleam.com
SMTP_PORT=587
SMTP_USER=admin@heleam.com
SMTP_PASS=YOUR_SMTP_PASSWORD_HERE
EMAIL_FROM=admin@heleam.com

# Configuration base de données
DB_HOST=147.93.58.155
DB_PORT=5432
DB_NAME=coworkmy
DB_USER=vpshostinger
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
DB_SSL=false

# Configuration JWT
JWT_SECRET=YOUR_JWT_SECRET_HERE

# Configuration Stripe
STRIPE_SECRET_KEY=sk_live_YOUR_STRIPE_SECRET_KEY_HERE
STRIPE_PUBLISHABLE_KEY=pk_live_YOUR_STRIPE_PUBLISHABLE_KEY_HERE
STRIPE_WEBHOOK_SECRET=whsec_YOUR_STRIPE_WEBHOOK_SECRET_HERE

# Configuration VirusTotal
VITE_VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY_HERE

# environment:
NODE_ENV=production
DATABASE_URL=postgresql://postgres:password@host.docker.internal:5432/coworkmy

VITE_VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY_HERE
VITE_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE
VITE_GOOGLE_PLACE_ID=ChIJN1t_tDeuEmsRUsoyG83frY4

FRONTEND_URL=https://coworkmy.fr
ALLOWED_ORIGINS=https://coworkmy.fr,https://www.coworkmy.fr
VITE_API_URL=https://coworkmy.fr/api
